.temp
.idea
.DS_Store
clusters
data
local_configuration.*
AFDD-experiments.*
localResults
workflow
time_series_csv_files
logs
server.pid
temp_data
*~
*_cluster.json
*/*/tests/output
.custom_gems
.aws_docker_image
weather
__pycache__/
*.sif
*.simg
baseline_test_output/
lib/
/sampling/output-buildstocks
/sampling/truth_data
*.pyc
report.xml
